/*Ajustem el text del cos de l'arxiu*/
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    padding: 20px;
}

/* Fem que el container sigui més visible*/
.container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: 100%; 
    margin: auto;
    overflow-x: auto; 
}

/* Modificar el color de h1*/
h1 {
    color: #0b1aec;
}

/*Modifiquem les característiques del div per seleccionar una de les 2 opcions de la informació dels JSON*/
.options {
    margin: 20px 0;
}

/*Modifiquem les característiques dels selectors*/
label {
    margin: 0 10px;
    font-size: 18px;
}

/*Modifiquem les característiques del contingut dels JSON passat per Javascript*/
.content {
    text-align: left;
    margin-top: 20px;
    overflow-x: auto; 
}

/*Modifiquem les característiques visuals de la taula i les seves files i columnes*/
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    white-space: nowrap; 
}

th, td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
}

th {
    background-color: #f8f8f8;
    font-weight: bold;
}

/* Estil per fer la taula responsive */
@media (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
    }
}
